@{
    ViewData["Title"] = "Update Student Data Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="/Student/DeleteStudentData" method="post">
        <div>Enter Student Id : <input type="number" name="id"></input></div>
        <button type="submit">Submit</button>
    </form>
</div>
